@model IEnumerable<HH_ASP_APP.Models.Operation>

@{
    ViewData["Title"] = "Index";
}

<h2>Operacje</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj operacje do słownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>

            </tr>
        }
    </tbody>
</table>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
@* <script src="~/js/chat.js"></script> *@
<script>
   
    var connection = new signalR.HubConnectionBuilder().withUrl("/rabbitmqHub").build();

    connection.start().then(function () {
        console.log("SignalR connected.");       
    }).catch(function (err) {
        return console.error(err.toString());
    });   

    connection.on("refresh_operation", function (message) {      
        location.reload();
        console.log("Received message: " + message);
    });    

</script>
